extends layout

block content

  h1 Welcome

  p You are logged in.

  form(action="/logout" method="post")
    button.btn.btn-primary(type="submit") Logout

  .transactions.container
    h2.text-center List of transactions

    .row
      each transaction in transactions
        .col-xs-4.text-center
          p= 'id: ' + transaction.id
          p= 'amount: ' + transaction.amount
          p= 'date: ' + transaction.createdAt
